/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes shaking {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
    }
}

.animated-storke {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        background-color: currentcolor;
        transition: scale var(--transition-value);
        transform-origin: 0;
        inset-inline-start: 0;
        inset-block-end: -3px;
        inline-size: 100%;
        scale: 0 1;
        block-size: 1px;
    }

    &:focus-within::after {
        scale: 1 1;
    }
}

.scaled-color-animation {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        background-color: var(--scaled-animation-pseudoelement-color);
        transition: 0.5s ease-in-out;
        transform-origin: 0;
        inset: 2px;
        scale: 0 1;
        mix-blend-mode: difference;
    }

    &:hover::after {
        scale: 1 1;
    }
}

@keyframes scale-heart {
    0% {
        scale: 1 1;
    }

    50% {
        scale: 1.5 1.5;
    }

    100% {
        scale: 1 1;
    }
}

@keyframes sparks {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}
