/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

/* ------------ THEME LIGHT -------------- */

:root.theme-light {
    --main-color: #000;
    --main-bg-color: #fff;
    --base-font-weight: 400;
    --bolder-font-weight: 700;
    --repeating-gradient-color: #d3d3d3;
    --flat-gradient-light-color: #e7e7e7;
    --flat-gradient-dark-color: #1a1a1a;
    --scaled-animation-pseudoelement-color: #fff;

    @media (width <= 400px) {
        .card__paragraph {
            padding-inline-end: 1px;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-color: #000;
        --main-bg-color: #fff;
        --base-font-weight: 400;
        --bolder-font-weight: 700;
        --repeating-gradient-color: #d3d3d3;
        --flat-gradient-light-color: #e7e7e7;
        --flat-gradient-dark-color: #1a1a1a;
        --scaled-animation-pseudoelement-color: #fff;
    }

    @media (width <= 400px) {
        .card__paragraph {
            padding-inline-end: 1px;
        }
    }
}

/* ------------ THEME DARK -------------- */

:root.theme-dark {
    --main-color: #00cc14;
    --main-bg-color: #000;
    --base-font-weight: 465;
    --bolder-font-weight: 785;
    --repeating-gradient-color: #000;
    --flat-gradient-light-color: #007f0c;
    --flat-gradient-dark-color: #004306;
    --scaled-animation-pseudoelement-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #00cc14;
        --main-bg-color: #000;
        --base-font-weight: 465;
        --bolder-font-weight: 785;
        --repeating-gradient-color: #000;
        --flat-gradient-light-color: #007f0c;
        --flat-gradient-dark-color: #004306;
        --scaled-animation-pseudoelement-color: #00cc14;
    }
}

/* ------------------------------------ */
